<html>
  <head>
    <title>RPSLite</title>
  </head>
  <body>
    <h1>You chose:</h1>
    <h2> <%= user_choice %> </h2><br>
    <h1>They chose:</h1>
    <h2> <%= ai_choice %> </h2><br>
    <h1>The result:</h1>
    <h2> <%= outcome %> </h2><br>
    
    <h1>Would you like to play again?</h1><br>
    <a href="/game"> Yes</a> <a href="http://www.google.com"> No</a>
    
  </body>
</html>