<html>
  <head>
    <title>RPSLite</title>
  </head>
  <body>
    <h1>Choose your weapon:</h1>
    
    <a href="/game/rock"> Rock</a>
    <a href="/game/paper"> Paper</a>
    <a href="/game/scissors"> Scissors</a>
  </body>
</html>