<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Choose your weapon!</h1>
    <p>THIS GOOD RPS GAME. MUCH BALANCE. VERY FUN.</p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Rock</h2>
      <p><a class="btn btn-primary btn-lg btn-block" href="/game/rock" role="button">Rock rocks! &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Paper</h2>
      <p><a class="btn btn-success btn-lg btn-block" href="/game/paper" role="button">Smooth as paper! &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Scissors</h2>
      <p><a class="btn btn-danger btn-lg btn-block" href="/game/scissors" role="button">Don't run with scissors! &raquo;</a></p>
    </div>
  </div>
</div>